body {
    height: 100vh;
    margin: 0 80px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
   height: 80%;
   width: 80%;
   display: grid;
   place-items: center;
   grid-template-rows: max-content max-content max-content max-content;
   background-color: #6d5b5b;
   padding-bottom: 10px;
   height: 80%;
}

h1 {
    width: 80%;
    height: 10%;
    text-align: center;
    background-color: #e9d1d1;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 0px;
}

.greeting {
    margin-bottom: 20px;
    font-size:larger
}


.container .start {
    /* display: block; */
    margin-top: 20px;
    align-self: flex-start;
}

.winner {
    /* text-align: center; */
    font-size: larger;
}

.gameboard {
    width: min(90vw, 400px);
    height: min(90vw, 400px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    display: none; /* will be grid when the game starts so that the ui comes automatically */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #333;
    gap: 4px;     
    margin-bottom: 10px;           
}

.grid {
    background-color: #fff;
}

.gameboard > .grid > button {
    all: unset; 
    display: block; 
    width: 100%; 
    height: 100%; 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid button:disabled{
    background-color: rgb(208, 204, 198);
    cursor: not-allowed;
}

.gameboard button:hover {
    background-color: rgb(213, 222, 230);
}

.gameboard button img {
    width: 80%; 
    height: 80%;
}

.restart {
    all: unset;
    display: none;
    padding: 10px;
    background-color: #a35a5a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    width: max-content;
    height: max-content;

}

.restart:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.start {
    all: unset;
    padding: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #a35a5a;
    color: #fff;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}

.start:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

footer {
    height: 10%;
    width: 80%;
    font-size:small;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #e9d1d1;
}
